{
  "wawd": true,
  "DanteScott": true,
  "imAverageNoob": false,
  "Zuver": true,
  "HSa_WolfSpeedXD": true,
  "LePape": true,
  "ByBenja6": true,
  "Linux_AntiShiyo": true,
  "miaurryt": false,
  "FortniteFlare": true,
  "Sikelet_Sans": true,
  "BNawesome": false,
  "UrUbonZ": true,
  "Pistonmaster": true,
  "A68AGaming": true,
  "tintin456": true,
  "ElMantecabbx": true,
  "Hype____": true,
  "Rexesinteligente": true,
  "ANDROMEDA1930": true,
  "Houlomor": true,
  "iSANTIAGOOCARES": true,
  "alphaCRAFT__": true,
  "knowgreen": false,
  "BlueCreeper15i": true,
  "bromomentoxd": true,
  "SebaVnzl": true,
  "youker": true,
  "TheSpider18YT": true,
  "WhiteNinja2314": false,
  "CharaDreemurr": true,
  "Ikea_hq": true,
  "nose22": true,
  "KimochiDekuDeku": true,
  "User42341": true,
  "NorkenBot": true,
  "xX_MAGIX_Xx": true,
  "Ylvaa_": true,
  "Koyubaa": false,
  "EndermanHackerVN": true,
  "aminaye131": true,
  "Joszik": true,
  "verdulit": true,
  "Seikro": true,
  "The_noobaso": true,
  "jamyreaf": true,
  "Sand_Turtle": true,
  "anarchy99": true,
  "TheSynisterBlade": true,
  "yourpccrashed": true,
  "Chimonero": false,
  "EddieBeLike": true,
  "RavenFlip": true,
  "ImLovelyBlue": true,
  "The_Endy69": true,
  "ya_comi": false,
  "Antudnx09": false,
  "John_Cross": true,
  "Vita_12000": true,
  "PUBGISTRASH5": true,
  "blaxor": true,
  "iSteveStellar_": true,
  "alexcruzabri18": true,
  "_FrahGaimer_": true,
  "AtharvATAR": true,
  "Harharmhadev": true,
  "AAAAAAAAAAAA": true,
  "DuringDecember": false,
  "jeroooo": true,
  "Sp4rk1n6": true,
  "INFINITYGODL": true,
  "ZATZ09": true,
  "KingPlayer_001": true,
  "supervoko": false,
  "kiononon2": true,
  "TBNRWeebs": true,
  "xBabyRichz_": true,
  "AdiKan_Gaming": true,
  "mirbrahin": true,
  "MinecraftAND1558": true,
  "ByFa123": true,
  "jhostin_torres": true,
  "alexx3451": true,
  "Andre_PvP": false,
  "Midnight_Vibez": true,
  "WolfSpeedXD": true,
  "TBody8": true,
  "JoshuaPlayz09": true,
  "Milly_studio": false,
  "Lil_Violin": true,
  "Faceplacing": false,
  "BestAtGame": true,
  "pizzaboi101101": true,
  "roydekeldeking": false,
  "dhruvthegreat": true,
  "Isaacsepulv": true,
  "UnknownJosh": true,
  "WolfordGuru": true,
  "Re_Tubers1": true,
  "rwe_2": true,
  "weatheralex1": true,
  "FrostashVaV_VN": true,
  "glaiator": true,
  "Killshot": true,
  "T0mk0_YT": false,
  "BMax": true,
  "Ppanda_GG_Work": true,
  "thattomato": false,
  "UnDeadKiller": true,
  "Ninjant": true,
  "kambing701": true,
  "MuradNotFound": true,
  "bidzz": true,
  "_CasuusZp": true,
  "TB800Lukas": true,
  "karina1964": true,
  "zToby": false,
  "Doggoderpz99": true,
  "SuHes_": true,
  "AST_Swag": true,
  "TWILIZER59": true,
  "str1derc0r3": false,
  "omgkirill19": true,
  "CetasGaming": true,
  "progamer1968": true,
  "jason": true,
  "franquitoola": true,
  "mbretoros": true,
  "andrews18224344": true,
  "UnknownP": true,
  "Handsupand": true,
  "AjazzanCrack": true,
  "IceTimeBaby": false,
  "juanotopepe": true,
  "Petar2009": true,
  "BedrockPlayer123": true,
  "Joostagram": true,
  "ChimuGamer": true,
  "HELL_VERSE": true,
  "redzonezoom1": true,
  "emiferreira": true,
  "TanaxGod": true,
  "FireballYT": true,
  "Zira": true,
  "Kingtech": true,
  "Grimcreeper420": true,
  "kiubo20": true,
  "Rekch": false,
  "str3ck": false,
  "Nukkion": false,
  "CHUSQUITO123": true,
  "ulizes": true,
  "Xx_Miro2_xX": true,
  "ImJonasaurioWTF": true,
  "realgameninja": false,
  "AnthonyKlarics": true,
  "UselessGang": false,
  "RagIsRaiding": true,
  "HACKSON99": true,
  "krazy_gamling": true,
  "gamerboy2027": true,
  "xXAshtonGamingXx": true,
  "Kadirgames08": true,
  "FrozenWilliam": true,
  "RoomyCartoon84": false,
  "Maxi_DemonZ": true,
  "Luscius": true,
  "darealboss876": true,
  "ScarecrowHD": false,
  "htl679": true,
  "ShdwInMC": false,
  "Jackira": true,
  "ItsNotBelle": true,
  "ElFurroCosmico": true,
  "DylanCorona": false,
  "Peabiel": true,
  "poyraz46s": true,
  "Mesa3D": false,
  "Realityyy": true,
  "CinnamonBunAndu": true,
  "GoatsPVP511": true,
  "KIDFUUUURY17": true,
  "HolaLoL": true,
  "herotavish": true,
  "MeekYT": true,
  "Mesektet": true,
  "xman2l": true,
  "GamesToGo": true,
  "GekomsuFuzzy": false,
  "JonaoKun": false,
  "yorno11": true,
  "StillChillingoEE": true,
  "gatosaurio12": true,
  "YesMc": true,
  "teyze_kemiren": true,
  "cooljakeman2007": true,
  "ItsCS": true,
  "Alwxys": false,
  "LittleManGabriel": false,
  "DereckOwO": false,
  "Shaizo_": false,
  "Overlord12195": false,
  "Agent_12": true,
  "LarkerBarns34": true,
  "TurnsOut": false,
  "Thomasfriend": true,
  "ImNeverGonnaGive": true
}